@using Core.Models
@inject NavigationManager nav

<button class="article-card" @onclick="@OpenArticle">
    @Article.title
</button>

@code {
    [Parameter] public Articles Article { get; set; }

    private void OpenArticle()
    {
        nav.NavigateTo($"/ArticleDetails/single/{Article.articleId}");
    }
}