@using Core.Models
@inject NavigationManager nav

<div class="article-card" @onclick="OpenArticle">
    <h4>@Article.title</h4>
</div>

@code {
    [Parameter] public Articles Article { get; set; }

    private void OpenArticle()
    {
        nav.NavigateTo($"/ArticleDetails/{Article.subjectId}");
    }
}