<div class="back-arrow" @onclick="GoBack">
    â† Back
</div>

@code {
    [Parameter] public string Url { get; set; }
    [Inject] NavigationManager NavManager { get; set; }

    void GoBack()
    {
        NavManager.NavigateTo(Url);
    }
}