@inject NavigationManager navmanager
@using Core.Models


<button class="month-box" @onclick="HandleClick">Monthly ChekIn</button>

@code {

    

    private void HandleClick()
    {
        navmanager.NavigateTo($"/mygrowth");
    }
    
    

}