@using Core.Models
@inject NavigationManager navManager

<button class="subject-button month-button" @onclick="NavigateToEntry">
    @growth.answerDate.ToString("MMMM yyyy")
</button>

@code {
    [Parameter] public MyGrowth growth { get; set; }

    private void NavigateToEntry()
    {
        navManager.NavigateTo($"/MyGrowthEntries/single/{growth.checkinId}");
    }
}