@using Core.Models
@using DanskeLearning.Services.DashboardService
@inject NavigationManager navManager    

<button class="subject-button" @onclick="HandleClick">
    @subject.title
</button>

@code {
    [Parameter] public Subject subject { get; set; }
    
   private void HandleClick()
   {
      navManager.NavigateTo($"/SubjectPage/{subject.subjectId}");
   }
}