@using Core.Models
@inject NavigationManager navManager    

<button class="subject-button" @onclick="HandleClick">
    @subject.title
</button>

@code {
    [Parameter] public Subject subject { get; set; }
    
   private void HandleClick()
   {
      
   }
}