@inherits LayoutComponentBase
@using DanskeLearning.Services.UserSessionService
@inject IUserSessionService UserSession
@inject NavigationManager NavManager

<div class="page">

    @if (UserSession.CurrentUser is not null)
    {
        <div class="sidebar">
            @if (UserSession.CurrentUser.role == "Admin")
            {
                <NavMenuAdmin />
            }
            else if (UserSession.CurrentUser.role == "user")
            {
                <NavMenu />
            }
        </div>
    }

    <div class="main">

        <div class="top-row px-4 header-bar">
            <div class="header-left">
                    DanskeLearning
            </div>

            <div class="header-right">
                @if (UserSession.CurrentUser is null)
                {
                    <button class="login-header-btn"
                            @onclick="@(() => NavManager.NavigateTo("/LoginPage"))">
                        Log ind
                    </button>
                }
                else
                {
                    <button class="header-username-btn" @onclick="@(() => NavManager.NavigateTo("/MyInformation"))">
                        MyProfile @UserSession.CurrentUser.firstName
                    </button>

                    <button class="logout-header-btn"
                            @onclick="OnLogoutClicked">
                        Log ud
                    </button>
                }
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>

    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await UserSession.InitializeAsync();
        StateHasChanged();
    }

    private async Task OnLogoutClicked()
    {
        await UserSession.LogoutAsync();
        NavManager.NavigateTo("/", true); //tilbage til Home
    }
}