.page {
    display: flex;
    min-height: 100vh;
    background-color: #f5f7fb;
}

.sidebar {
    width: 220px;
    background: #003778;
    padding-top: 80px; /* plads til header */
    flex-shrink: 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #003778;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    z-index: 100;
}

/* header venstre side */
.header-left {
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: "Canvas Sans Medium", "Segoe UI", sans-serif;
}

/* header højre side */
.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-header-btn,
.logout-header-btn {
    background-color: #0054f0;
    border: none;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-family: "Canvas Sans Medium", "Segoe UI", sans-serif;
}

.login-header-btn:hover,
.logout-header-btn:hover {
    background-color: #0054f0;
}

.header-username-btn {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    font-family: "Canvas Sans Medium", "Segoe UI", sans-serif;
}

.content {
    padding: 2rem;
    margin-top: 64px; /* header højde */
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}



