@inject NavigationManager NavManager

<nav class="navmenu">
    <button class="nav-btn" @onclick="@(() => NavManager.NavigateTo("/InformationPage"))">
        Dashboard
    </button>
   
    <button class="nav-btn" @onclick="@(() => NavManager.NavigateTo("/Dashboard"))">
        MyLearning
    </button>
    
    <button class="nav-btn" @onclick="@(() => NavManager.NavigateTo("/MyGrowth"))">
        MyGrowth
    </button>
    
    <button class="nav-btn" @onclick="@(() => NavManager.NavigateTo("/LearningCatalog"))">
        LearningCatalog
    </button>
    
</nav>



