/*toppen af navigationbar*/
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

/*knapper i navigationsbaren*/
.btn-nav {
    background-color: transparent;
    color: #d7d7d7;
    border: none;
    width: 100%;
    text-align: left;
    padding: 12px 18px;
    font-size: 0.95rem;
    border-radius: 4px;
}

.btn-nav:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
    cursor: pointer;
}

.btn-nav.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
    font-weight: bold;
}

.btn-nav:focus {
    outline: none;
}

/*navigationsbar scroll*/
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block; /*tilpasning af sidebar*/
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
