/* Top of navigation sidebar */
.navbar-toggler {
    background-color: #003778;
}

.top-row {
    min-height: 3.5rem;
    background-color: #003778;
}

.navbar-brand {
    font-size: 1.1rem;
}

/* Sidebar buttons */
.btn-nav {
    background-color: transparent;
    color: #d7d7d7;
    border: none;
    width: 100%;
    text-align: left;
    padding: 12px 18px;
    font-size: 0.95rem;
    border-radius: 4px;
    font-family: "Canvas Sans Medium", sans-serif;
}

.btn-nav:hover {
    background-color: #003778;
    color: white;
    cursor: pointer;
}

.btn-nav.active {
    background-color: #003778;
    color: white;
    font-weight: bold;
}

.btn-nav:focus {
    outline: none;
}

/* Scrollable nav area */
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }

    .nav-scrollable {
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
