<nav class="navmenu">
    <NavLink href="/InformationPage" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>

    <NavLink href="/Dashboard">
        MyLearning
    </NavLink>

    <NavLink href="/MyGrowthDashboard">
        MyGrowth
    </NavLink>

    <NavLink href="/LearningCatalog">
        LearningCatalog
    </NavLink>
</nav>



