<nav class="navmenu">
    <NavLink href="/InformationPageAdmin" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>

    <NavLink href="/myteam">
        MyTeam
    </NavLink>

    <NavLink href="/myemployee">
        MyEmployee
    </NavLink>

    <NavLink href="/LearningCatalog">
        LearningCatalog
    </NavLink>
</nav>