@using Core.Models
@using DanskeLearning.Services.ArticleService
@inject IArticlesService ArticleService
@page "/ArticlePage/{subjectId:int}"
<h3>Artikler relevante for emnet</h3>

@if (articles == null)
{
    <p>Indlæser</p>
}
else if (articles.Count == 0)
{
    <p>Ingen artikler</p>
}
else
{
    <ul>
        @foreach (var a in articles)
        {
            <ArticleComponent Article="article" />
        }
    </ul>


@code {

    [Parameter] public int subjectId { get; set; }
    
   private List<Articles> articles;

   protected override async Task OnInitializedAsync()
   {
       articles = await ArticleService.GetArticlesByIdAsync(subjectId);
   }
}
}