.subject-buttons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 40px;
    padding: 20px;
}

h3 {
    font-family: "Canvas Sans Medium", "Segoe UI", sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #003778;
    padding-bottom: 25px;
}