@page "/LoginPage"
@using Core.Models
@using DanskeLearning.Services.LoginService
@using DanskeLearning.Services.UserSessionService
@inject NavigationManager navManager
@inject ILoginService loginService
@inject IUserSessionService userSessionService

<div class="login-page-background">
    <div class="login-container">
        
        <h3>LoginPage</h3> 
        
        <EditForm Model="@loginModel" OnValidSubmit="OnClickLogin">
            
            <div class="form-floating-group">
                <InputText id="usname" class="form-control" @bind-Value="loginModel.userName" placeholder="Username"/>
                <label for="usname">Username</label>
            </div>
            
            <div class="form-floating-group">
                <InputText id="pwd"
                           type="password"
                           class="form-control"
                           @bind-Value="loginModel.password"
                           placeholder="Password"/>
                <label for="pwd">Password</label>

            </div>
            
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </EditForm>
        
        @if (!string.IsNullOrEmpty(errorText))
        {
            <div class="error-message">
                <span class="error-text">@errorText</span>
            </div>
        }
    </div>
</div>


@code {
    Login loginModel = new();

    string errorText = "";

    private async Task OnClickLogin()
    {
        errorText = string.Empty;

        var users = await loginService.Login(loginModel);

        if (users == null)
        {
            errorText = "Wrong username or password";
        }
        else
        {
            await userSessionService.SetUserAsync(users);
            navManager.NavigateTo("/", forceLoad: true);
        }
    }
}