.text-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 8px;
    align-items: center;
    margin-bottom: 50px;
}

.my-text {
    margin: 0;
    font-size: 16px;
}

.page-title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #003778;
    padding-bottom: 25px;
}