/*wrapper for hele indholdet */
.mygrowth-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

/*title */
.mygrowth-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: "Canvas Sans", "Segoe UI", sans-serif;
}

/*baggrund for alle spørgsmål */
.questions-container {
    background-color: #eef3f8;
    padding: 40px;
    border-radius: 12px;
}

/*faste hvide tekstfelter */
.answer-box {
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    color: #003778;
    border: 1px solid #ccc;
}

/*fokus effekt */
.answer-box:focus {
    outline: none;
    border-color: #003778;
    box-shadow: 0 0 5px rgba(0, 64, 145, 0.30);
}

/*enkelt spørgsmål spacing */
.question-item {
    margin-bottom: 35px;
}

/*gem-knap */
.save-btn {
    background-color: #eef3f8;
    color: black;
    border: none;
    padding: 12px 28px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.save-btn:hover {
    background-color: #6ea8fe;
}


