@using Components
@using Core.Models
@using DanskeLearning.Components
@using DanskeLearning.Services.MyGrowthService
@using DanskeLearning.Services.UserSessionService
@inject IMyGrowthService MGHttp
@inject IUserSessionService UserSession
@page "/MyGrowthDashboard"
<h2 class="text-center fw-bold">MyGrowth</h2>

<h3>New Monthly Ckeck-In</h3>


<div class="text-wrapper">
<MyGrowthCheckIn></MyGrowthCheckIn>

    <p class="my-text">MyGrowth: A page dedicated to your
        own reflection as part of Danske Bank.
        This is your own personal area, and is
        created to make it easier for you to
        reflect on the past month. When it’s
        time for your annual Check-In with your
        closest leader, you have something to
        inspire the conversation</p>
</div>

<h3>Previously submitted Check-Ins</h3>
@if (growth.Count == 0)
{
    <p>No checkins found.</p>
}
else
{
    <ul>
        @foreach (var g in growth)
        {
            <li>@g.answerDate.ToShortDateString()</li>
        }
    </ul>
}

@code {
    private List<MyGrowth> growth = new List<MyGrowth>();

    protected override async Task OnInitializedAsync()
    {
        var userId = UserSession.CurrentUser.UserId;

        growth = await MGHttp.GetPreviousAsync(userId) ?? new List<MyGrowth>();
    }

}