@page "/mygrowth"
@using Core.Models
@using DanskeLearning.Services.MyGrowthService
@using DanskeLearning.Services.UserSessionService
@using Microsoft.AspNetCore.Components.Forms
@inject IMyGrowthService MyGrowthService
@inject IUserSessionService UserSession
@inject NavigationManager navmanager

<div class="mygrowth-wrapper">

    <h1 class="mygrowth-title">MyGrowth</h1>
    
        <div class="questions-container">
       
            <div class="question-item">
                <p>1. Hvilket fagligt område har udfordret dig mest i denne måned, og hvad lærte du af det?</p>
                <InputTextArea @bind-Value="growth.FagligUdfordring"
                               class="answer-box"
                               maxlength="500"
                               style= "width: 100%; height: 120px"/>
            </div>

            <div class="question-item">
                <p>2. Hvilken ny viden eller kompetence føler du dig mere komfortabel i nu, end du gjorde i sidste måned?</p>
                <InputTextArea @bind-Value="growth.NyKompetence"
                               class="answer-box"
                               maxlength="500"
                               style= "width: 100%; height: 120px"/>
            </div>

            <div class="question-item">
                <p>3. Hvad har motiveret dig mest i dit arbejde den seneste tid? Og hvorfor?</p>
                <InputTextArea @bind-Value="growth.Motivation"
                               class="answer-box"
                               maxlength="500"
                               style= "width: 100%; height: 120px"/>
            </div>

            <div class="question-item">
                <p>4. Hvordan har din trivsel på dit arbejde været den seneste måned? (energi, overskud, motivation eller lignende)</p>
                <InputTextArea @bind-Value="growth.Trivsel"
                               class="answer-box"
                               maxlength="500"
                               style= "width: 100%; height: 120px"/>
            </div>

            <div class="question-item">
                <p>5. Hvad vil du gerne fokusere på i den kommende måned for at styrke din faglige eller personlige udvikling?</p>
                <InputTextArea @bind-Value="growth.answerText"
                               class="answer-box"
                               maxlength="500"
                               style= "width: 100%; height: 120px"/>
            </div>
        </div>

    <button class="save-btn" @onclick="Save">Gem</button>

</div>

@code {
    private MyGrowth growth = new MyGrowth();   
    
    protected override async Task OnInitializedAsync()
    {
        
        await UserSession.InitializeAsync();

        if (UserSession.CurrentUser is null)
        {
            return;
        }
        
        growth.userId     = UserSession.CurrentUser.UserId;
        growth.answerDate = DateTime.Now;
        growth.answerId   = 0;
        
    }

    private async Task Save()
    {
        await MyGrowthService.CreateAsync(growth);
        navmanager.NavigateTo($"/MyGrowthDashboard");
        
    }
}