@page "/mygrowth"
@using Core.Models
@using DanskeLearning.Services.MyGrowthService
@using DanskeLearning.Services.UserSessionService
@using Microsoft.AspNetCore.Components.Forms
@using System.Linq;
@inject IMyGrowthService MyGrowthService
@inject IUserSessionService UserSession

<h3>My Growth</h3>

<h3>1. Hvilket fagligt område har udfordret dig mest i denne måned, og hvad lærte du af det?</h3>
<div class="col col-md-6 border-black">
    <label>
        <InputText id="answerText1" class="form-control" @bind-Value="growth.FagligUdfordring"></InputText>
    </label>
</div>

<h3>2. Hvilken ny viden eller kompetence føler du dig mere komfortabel i nu, end du gjorde i sidste måned?</h3>
<div class="col col-md-6 border-black">
    <label>
        <InputText id="answerText2" class="form-control" @bind-Value="growth.NyKompetence"></InputText>
    </label>
</div>

<h3>3. Hvad har motiveret dig mest i dit arbejde den seneste tid? Og hvorfor?</h3>
<div class="col col-md-6 border-black">
    <label>
        <InputText id="answerText3" class="form-control" @bind-Value="growth.Motivation"></InputText>
    </label>
</div>

<h3>4. Hvordan har din trivsel på dit arbejde været den seneste måned? (energi, overskud, motivation eller lignende)</h3>
<div class="col col-md-6 border-black">
    <label>
        <InputText id="answerText4" class="form-control" @bind-Value="growth.Trivsel"></InputText>
    </label>
</div>

<h3>5. Hvad vil du gerne fokusere på i den kommende måned for at styrke din faglige eller personlige udvikling?</h3>
<div class="col col-md-6 border-black">
    <label>
        <InputText id="answerText5" class="form-control" @bind-Value="growth.answerText"></InputText>
    </label>
</div>

<button class="btn btn-primary mt-3" @onclick="Save">Gem</button>

@code {
    private MyGrowth growth = new MyGrowth();
    private List<MyGrowthAnswers> history = new();
    
    protected override async Task OnInitializedAsync()
    {
        
        await UserSession.InitializeAsync();

        if (UserSession.CurrentUser is null)
        {
            
            return;
        }
        
        growth.userId     = UserSession.CurrentUser.UserId;
        growth.answerDate = DateTime.Now;

        await LoadHistory();
    }

    private async Task LoadHistory()
    {
        if (UserSession.CurrentUser is null)
            return;
        var userId = UserSession.CurrentUser.UserId;

        var result = await MyGrowthService.GetByUserAsync(userId);

        history = result
            .OrderByDescending(a => a.AnswerDate)
            .ToList();
    }
    private async Task Save()
    {
    await MyGrowthService.CreateAsync(growth);

    await LoadHistory();
    }
}