.team-box {
    width: 160px;
    height: 140px;
    background-color: var(--bs-light);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    
    transition: transofrm 1.15s ease, box-shadow 0.15s ease;
}

.team-box:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.team-name {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: var(--bs-light);
}