@page "/MyTeam"
@using System.Collections.Generic
@using Core.Models;
@using DanskeLearning.Services.MyTeamService;
@inject IMyTeamService MyTeamService

<h3>My Team</h3>

@if (teams == null)
{
    <p>Loading...</p>
}
else if (teams.Count == 0)
{
    <p>You are not assigned to any team..</p>
}
else
{
    <ul>
        @foreach (var t in teams)
        {
            <li>@t.TeamName</li>
        }
    </ul>
}

@code {
    private List<Team>? teams;

    protected override async Task OnInitializedAsync()
    {
        teams = await MyTeamService.GetMyTeamsAsync();
    }
}