@page "/SubjectPage/{SubjectId:int}"
@using Core.Models
@using DanskeLearning.Services.DashboardService
@inject IDashboardService DashboardService

@if (subject == null)
{
    <p>Intet at vise</p>
}
else
{
    <h3>@subject.title</h3>
}


@code {
    [Parameter]
    public int SubjectId { get; set; }

    private Subject subject;

    protected override async Task OnInitializedAsync()
    {
        var subjects = await DashboardService.GetSubjectsAsync();
        subject = subjects.FirstOrDefault(s => s.subjectId == SubjectId);
    }

}