@page "/LoginPage"
@using Core.Models
@using DanskeLearning.Services.LoginService
@inject NavigationManager navMananager
@inject ILoginService loginService
@inject IUserSessionService userSessionService

<div class="login-page-background">
    <div class="login-container">
        
        <h3>LoginPage</h3> 
        
        <EditForm Model="@loginModel" OnValidSubmit="OnClickLogin">
            
        </EditForm>

    </div>

</div>


@code {
    
}